[Unit]
Description=AdGuardHome

[Service]
User=adguardhome
Group=adguardhome
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/etc/adguardhome /var/adguardhome
ExecStart=/opt/adguardhome/AdGuardHome -w /var/adguardhome -c /etc/adguardhome/config.yml
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
DevicePolicy=closed
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK

[Install]
WantedBy=multi-user.target
