[Unit]
Description=AdGuardHome

[Service]
ExecStart=/opt/adguardhome/AdGuardHome -w /var/lib/adguardhome -c /etc/adguardhome/config.yml
ConfigurationDirectory=adguardhome
StateDirectory=adguardhome
BindPaths=/etc/adguardhome /var/lib/adguardhome
BindReadOnlyPaths=/etc/hosts /etc/ssl /usr/share/ca-certificates /opt/adguardhome
DynamicUser=yes
ProtectSystem=strict
ProtectHome=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
DevicePolicy=closed
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=false
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
TemporaryFileSystem=/etc /boot /var /media /mnt /opt /srv

[Install]
WantedBy=multi-user.target
